@font-face {
    src: url("../fonts/Stardew_Valley.otf");
}
 
body {
    -fx-font-family: "Stardew Valley";
}


.root{
    -fx-background-image:url('../Images/Inventaire.png');
    -fx-background-repeat: no-repeat;
}

#closeButton{
-fx-background-image: url('../Images/Quitter.png');
-fx-background-size: 80px 65px;
-fx-background-position: center;
-fx-background-repeat: no-repeat;
-fx-padding: 10px 20px;
-fx-font-family: "Stardew Valley";
-fx-text-fill: #d15956;
-fx-font-size: 48px;
}

#LabelEnergy, #labelGenre, #labelNom, #labelPrenom, #labelVie {
	-fx-font-family: "Stardew Valley";
	-fx-font-size: 48px;
	-fx-text-fill: #d15956;
}

#energyProgressBar .bar, #healthProgressBar .bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-accent,95%), derive(-fx-accent,10%)),
        #d15956; /* c'est le background de la progressBar */
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 0.416667em; /* 5 */
    -fx-box-border: #d15956;
}