@font-face {
    src: url("../fonts/Stardew_Valley.otf");
}
 
body {
    -fx-font-family: "Stardew Valley";
}


.root{
    -fx-background-image:url('../Images/CadrePersonnage.png');
    -fx-background-size:cover;
}

#titreInventaire{
	-fx-font-family: "Stardew Valley";
	-fx-font-size: 48px;
	-fx-text-fill: #5a1104;
}

#nbSteak, #nbCarotte, #nbLait{
	-fx-font-family: "Stardew Valley";
	-fx-font-size: 24px;
	-fx-text-fill: #d15956;
}

